QWidget {
/* for debug
  border: 1px solid red;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
*/
}

* {
  font-family: "VL Gothic";
}

PortStatus{
  border: 1px solid lightgray;
  border-radius: 0px;
}

ShipStatus{
  border-bottom: 1px solid lightgray;
}

DeckButton {
  border: 0px;
  text-align: left;
  outline: none;
}

DeckButton:on {
  background-color: lightgray;
}

DeckSelector {
  border-bottom: 1px solid lightgray;
}

ExpeditionBox {
  border: 1px solid lightgray;
  border-radius: 0px;
}

ExpeditionBox #hline {
  color: lightgray;
}

ShipHp QProgressBar{
  border: 1px solid gray;
  border-radius: 2px;
}

ShipHp QProgressBar::chunk{
  background-color: lightgreen;
  width: 10px;
}

ShipHp[damage="slight"] QProgressBar::chunk{
  background-color: yellow;
}

ShipHp[damage="middle"] QProgressBar::chunk{
  background-color: orange;
}

ShipHp[damage="serious"] QProgressBar::chunk{
  background-color: red;
}

ShipCondition[condition="serious tired"] #condition_signal{
  background-color: red;
}

ShipCondition[condition="middle tired"] #condition_signal{
  background-color: orange;
}

ShipCondition[condition="slight tired"] #condition_signal{
  background-color: white;
}

ShipCondition[condition="normal"] #condition_signal{
  background-color: white;
}

ShipCondition[condition="good"] #condition_signal{
  background-color: lightgreen;
}

MainWindow QListWidget{
    border: none;
}

QScrollArea {
  outline: none;
  border: none;
}

QLineEdit {
  border: none;
}

QPushButton#screenshot {
  border-image: url(:/icons/photo.png) 0 0 0 0;
}